    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        position: relative;
        color: #FFF;
        height: 100vh;
        width: 100vw;
        background-image: url("../assets/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-content: center;
        h2 {
            -webkit-text-stroke: 0.5px #000;
        }
        .center {
            margin: 0 auto;
            width: auto;
        }
        .resultPos {
            height: 45px;
            margin: 0px 0px 85px 10px;
        }
        .dealerPos {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
        }
        .playerPos {
            display: flex;
            flex-direction: column;
        }
    }